@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2 {
  margin: 0 0 24px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: #008000;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

p {
  margin: 0 0 24px;
}

section {
  margin: 100px auto;
  padding: 0 20px;
  text-align: center;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 128, 0, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #00800080;
}

.banner .banner-content {
  color: white;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#008000, #006400);
  background-clip: text;
  -webkit-background-clip: text;
}

.banner p {
  font-size: 1.25rem;
  margin: 16px 0 24px;
}

.banner .logo {
  background-color: rgba(0, 0, 0, .2);
  height: 260px;
  width: 260px;
  margin: auto;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 16px;
}

.banner .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner .banner-content button {
  color: #008000;
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border: 2px solid #008000;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.banner .banner-content button:hover {
  background-color: #008000;
  color: #fff;
}

#course-content .modules-list {
  margin: 24px 0;
}

#course-content .modules-list .module {
  color: white;
  width: 100%;
  max-width: 530px;
  margin: 0 auto 24px;
  border: 1px solid #008000;
  background-color: #252525;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#course-content .modules-list .module span {
  color: #008000;
}

#transform-world {
  height: 560px;
  background-size: cover;
  background-image: url("../images/woman-code.png");
  background-attachment: fixed;
  border-top: 1px solid #00800080;
  border-bottom: 1px solid #00800080;
  display: flex;
  justify-content: center;
  align-items: center;
}

#transform-world p {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: lowercase;
  max-width: 250px;
  text-shadow: 3px 2px #008000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

#professional-challenges {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
}

#professional-challenges img {
  margin: 32px 0;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 128, 0, .0), rgba(0, 128, 0, .2));
  border-top: 1px solid #00800080;
}

footer .dio-logo {
  width: 300px;
}

footer a {
  color: #008000;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #006400;
}
